#list-section {
	margin: 1rem;
}

.inputLine {
    display: flex;
}

.addButton {
	background-color: var(--light-main);
	border: 1px solid;
	border-radius: 5px;
    margin-left: 5px;
}

.addButton:hover {
	background-color: var(--intermediate-main);
}

.addButton:active {
	background-color: var(--dark-main);
}

input {
	border-radius: 5px;
	border: 1px solid gray;
}

input:focus {
	outline: none;
}

.optionsButton {
	background: none;
	border: 0px;
	border-radius: 5px;
	margin-left: auto;
	display: flex;
	align-items: center;
}

.optionsButton:hover {
	background-color: #fff6;
}

.optionsButton:active {
	background-color: #fffa;
}

.listRow:hover > .optionsButton > .optionsIcon,
.listRowSelected > .optionsButton > .optionsIcon {
	opacity: 1;
}

.optionsIcon {
	opacity: 0;
	padding: 1px;
	height: 1rem;
}

#list-container {
	display: flex;
	flex-direction: row;

	margin-top: 16px;
	margin-bottom: 16px;
	border-radius: 10px;
	border: 5px var(--dark-main) solid;
	background-color: var(--light-main);

	width: fit-content;
	max-width: 100%;
	box-sizing: border-box;

	overflow-x: auto;
}

.nameList {
	padding: 0px;
	margin: 10px;
}

.listRow, .listRowSelected {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px;
    padding-left: 10px;
	border-radius: 5px;
}

.listRow:hover {
	background-color: var(--dark-main-transparent);
}

.listRowSelected {
	background-color: var(--dark-main);
}

.listRow.highligthed {
	background-color: var(--highlight-yellow-transparent);
}
.listRowSelected.highligthed {
	background-color: var(--highlight-yellow);
}

.emptyListElement {
	display: flex;
	flex-direction: column;
	align-items: center;
	opacity: 0.5;
}

.list-text {
    margin-left: 15px;
    margin-right: 15px;
	white-space: nowrap;
}

.listRow.passed > .list-text,
.listRowSelected.passed > .list-text,
.listRow.passed > .list-number,
.listRowSelected.passed > .list-number {
	opacity: .5;
}

.list-number {
    width: 25px;
}

.random-pick-btn {
	background-color: var(--okay-green);
	font-size: 20px;
	padding: 10px;
	border: 1px solid;
	border-radius: 10px;

	transition: .1s;
}

.random-pick-btn:hover {
	animation: shake .1s;
	animation-iteration-count: 2;
}

.random-pick-btn:active {
	transform: translateY(2px);
}

.random-pick-btn:disabled {
	color: #0008;
	opacity: .5;
	animation: none;
	transform: none;
}

@keyframes shake {
	0% {
		transform: rotate(2deg);
	}
	50% {
		transform: rotate(-2deg);
	}
}