:root {
	--main-bg-color: #f4f4f4;
	--dark-title: #17252A;
	--dark-main: #2a7976;
	--dark-main-transparent: #2a797688;
	--intermediate-main: #2e918d;
	--light-main: #3bb0aa;
	--light-white: #DEF2F1; 

	--light-gray: #ddd;
	
	--danger-red: #f74444;
	--okay-green: #3bb06c;
	--highlight-yellow-transparent: #ddc917BB;
	--highlight-yellow: #ddc917;

	--header-height: 110px;
}

body {
	background-color: var(--main-bg-color);
	font-family: Helvetica;
	margin: 0px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	/* font-size: 20px; */
}

h1 {
	color: var(--dark-main);
}

strong {
	color: var(--dark-title);
}

ul, ol {
	list-style: none;
	margin: 0px;
}

button, input {
	font-size: inherit;
}

/* unused */
.page {
	display: flex;
	flex-direction: row;
	margin: 10px;
}

/* unused */
.column {
	margin: 1rem;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;

	width: 100%;
	height: var(--header-height);
	flex-shrink: 0;

	background-color: var(--dark-title);
}

.main-title {
	color: var(--light-main);
	font-size: 40px;
	margin-left: 35px;
}

.footer {
	display: none; /* temporary */
	margin-top: auto;
}

.credits-list {
	padding: 10px;
	margin: 1rem;
	border-radius: 10px;
	background-color: var(--light-white);
}

.credits-line {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1px;
}

.main {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}