:root {
	--main-bg-color: #f4f4f4;
	--dark-title: #17252A;
	--dark-main: #2a7976;
	--dark-main-transparent: #2a797688;
	--intermediate-main: #2e918d;
	--light-main: #3bb0aa;
	--light-white: #DEF2F1; 

	--light-gray: #ddd;
	
	--danger-red: #f74444;
	--okay-green: #3bb06c;
	--highlight-yellow-transparent: #ddc917BB;
	--highlight-yellow: #ddc917;

	--header-height: 110px;
	--main-height: calc(100vh - var(--header-height));
}

body {
	background-color: var(--main-bg-color);
	font-family: Helvetica;
	margin: 0px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	/* font-size: 20px; */
}

h1 {
	color: var(--dark-main);
}

strong {
	color: var(--dark-title);
}

ul, ol {
	list-style: none;
	margin: 0px;
}

button, input {
	color: black;
	font-size: inherit;
}

input, textarea {
	border-radius: 5px;
	border: 1px solid gray;
	
	font-family: inherit;
	font-size: inherit;
}

input:focus {
	outline: none;
}

.main {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.slide-up {
    transform: translateY(calc(var(--main-height) * -1 ));
}