:root {
	--main-bg-color: #f4f4f4;
	--dark-title: #17252A;
	--dark-main: #2a7976;
	--dark-main-transparent: #2a797688;
	--intermediate-main: #2e918d;
	--light-main: #3bb0aa;
	--light-white: #DEF2F1; 

	--light-gray: #ddd;
	
	--danger-red: #f74444;
	--okay-green: #3bb06c;
	--highlight-yellow-transparent: #ddc917BB;
	--highlight-yellow: #ddc917;

	--header-height: 110px;
	--main-height: calc(100vh - var(--header-height));
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	display: flex;
	flex-direction: column;

	height: 100vh;

	background-color: var(--main-bg-color);
	font-family: Helvetica;
	line-height: 1;

	overflow: hidden;
	/* font-size: 20px; */
}

h1, h2, h3, h4, h5, h6 {
	color: var(--dark-main);
	font-weight: 600;
}
h1 {
	margin: 15px 0;
	font-size: 2rem;
}
h2 {
	margin: 15px 0;
	font-size: 1.5rem;
}

p {
	margin: 15px 0;
}

strong {
	color: var(--dark-title);
	font-weight: 600;
}

button, input, textarea {
	color: black;
	font-size: inherit;
}

input, textarea {
	border-radius: 5px;
	border: 1px solid gray;
}

textarea {
	font-family: inherit;
}

input:focus {
	outline: none;
}