#fold-menu {
    position: absolute;
    
    padding: 5px;

    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 10px #0008;  
    
    transition-property: visibility, opacity, transform;
    transition-duration: .2s;
}

#fold-menu.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

#fold-menu:not(.show) {
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    
    animation: slide-out .2s;
}

@keyframes slide-out {
    from {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
    to {
        opacity: 0;
        transform: translateY(10px);
        visibility: hidden;
    }
}

#fold-menu-background {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
}

.fold-menu-btn {
    display: flex;
	flex-direction: row;
	align-items: center;

    width: 100%;
    padding: 5px;

    border: none;
	border-radius: 5px;
    background: none;
}
.fold-menu-btn:hover {
	background-color: var(--light-gray);
}

.fold-menu-btn:disabled {
    opacity: .5;
}
.fold-menu-btn:disabled:hover {
	background: none;
}

.fold-menu-btn > span {
    margin-right: 5px;
    white-space: nowrap;
}

.danger-text {
    color: var(--danger-red);
}

.icon {
    height: 1rem;
    padding: 1px;
    margin-right: 10px;
}

.separator {
    margin: 5px;
    background-color: lightgray;
    height: 1px;
}