#names-section {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;

	padding: 1rem;
	height: var(--main-height);
	box-sizing: border-box;
	overflow: auto;

	transition: .5s;
}

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group-name {
	color: var(--dark-main);
	font-size: 2em;
	font-weight: bold;

	margin: 15px 0;
	padding: 5px;
	width: 100%;
	min-width: 1em;

	border: none;
	background-color: inherit;
	transition: .1s;
}

.group-name:focus {
	outline: 3px solid var(--light-main);
	background-color: #FFF;
}

.back-btn {
    padding: 0;
	margin-left: 30px;
	margin-right: 10px;
    height: 35px;

    border: none;
    background: none;
}

.back-btn > img {
    height: 100%;
    transition: .2s;
}
.back-btn:hover > img {
    transform: translateY(5px);
}
.back-btn:active > img {
    transform: translateY(10px);
}

.input-row {
    display: flex;
}

.add-button {
	background-color: var(--light-main);
	border: 1px solid;
	border-radius: 5px;
    margin-left: 5px;
}

.add-button:hover {
	background-color: var(--intermediate-main);
}

.add-button:active {
	background-color: var(--dark-main);
}