#names-section {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;

	padding: 1rem;
	height: calc(100vh - var(--header-height));
	box-sizing: border-box;
	overflow: auto;

	transition: .5s;
}

#names-section.slide-up {
	transform: translateY(-100vh);
}

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.group-name {
	color: var(--dark-main);
	font-size: 2em;
	font-weight: bold;

	margin: 15px 0;
	padding: 5px;

	border: none;
	background-color: inherit;
	transition: .1s;
}

.group-name:focus {
	outline: 3px solid var(--light-main);
	background-color: #FFF;
}

.back-btn {
    padding: 10px;
    height: 70px;
    width: 70px;

    border: none;
    border-radius: 50px;
    background: none;

    transition: .2s;
}

.back-btn:hover {
    transform: translateY(5px);
}

.back-btn:active {
    transform: translateY(10px);
}

.back-btn > img {
    height: 100%;
}